body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  background-color: #c5c8cc;
  min-height: 100vh;
  font-size: calc(10px + 1vmin);
  color: white;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}*/

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.App {
  text-align: center;
  background-color: #383f47;
  /* background: linear-gradient(-70deg, #fa7c30 30%, rgba(0, 0, 0, 0) 30%); */
  /* background: linear-gradient(120deg, #ecf3ad 0%, #9c2169 100%), linear-gradient(120deg, #b7d0f5 0%, #72f547 100%), linear-gradient(130deg, #00F0FF 0%, #000000 100%), radial-gradient(110% 140% at 15% 90%, #ffffff 0%, #5a81eb 100%), radial-gradient(100% 100% at 50% 0%, #e4b4fa 0%, #00FFE0 100%), radial-gradient(100% 100% at 50% 0%, #00FFE0 0%, #7300A9 80%), linear-gradient(30deg, #7ca304 0%, #453194 100%);
  background-blend-mode: overlay, color, overlay, difference, color-dodge, difference, normal; */
  background: linear-gradient(125deg, #FDFF9C 0%, #0500FF 100%), linear-gradient(180deg, #D3D3D3 0%, #161616 100%), linear-gradient(310deg, #00F0FF 0%, #00F0FF 20%, #0017E3 calc(20% + 1px), #0017E3 40%, #000F8F calc(40% + 1px), #000F8F 70%, #00073F calc(70% + 1px), #00073F 100%), linear-gradient(285deg, #FFB6B9 0%, #FFB6B9 35%, #FAE3D9 calc(35% + 1px), #FAE3D9 45%, #BBDED6 calc(45% + 1px), #BBDED6 65%, #61C0BF calc(65% + 1px), #61C0BF 100%);
  background-blend-mode: overlay, overlay, exclusion, normal;
  /* background: linear-gradient(180deg, #F7D6FF 0%, #005686 100%), linear-gradient(180deg, #FFFFFF 0%, #060046 100%), linear-gradient(130deg, #00FFA3 0%, #1A003C 100%), linear-gradient(307deg, #FF0000 0%, #3300C6 100%), radial-gradient(50% 72% at 50% 50%, #004584 0%, #00FFB2 100%), radial-gradient(100% 140% at 100% 0%, #5ED500 0%, #2200AA 100%);
  background-blend-mode: soft-light, overlay, difference, difference, color-burn, normal; */
  min-height: 100vh;
  font-size: calc(10px + 1vmin);
  color: #383f47;
}

/* .header-div {
  min-height: 150px;
}
.header-group {
  margin-top: 20px;
} */

.app-container {
  box-shadow: 0px 0px 10px #161616;
}

.logo {
  display: flex;
  height: 80px;
  width: auto;
}

.header-menu {
  border: 1px solid #383f47;
  background-color: rgb(241, 204, 235);
  border-radius: 10px;
  margin-right: 10px;
}

.font-12 {
  font-size: 12px;
}
.center {
  margin: 0 auto;
}

.errorMessage {
  color: red;
}

.git-links {
  padding: 10px;
  background-color: #00F0FF;
  border: 1px solid #161616;
}