.course_header {
    color: red !important;
}
.trainer_header {
    color: seagreen;
}

.logo_image {
    width: 200px;
    height: auto;
}

.width-500 {
    width: 500px;
    /* justify-content: center; */
    margin: 0 auto;
}

.hide {
    display: none;
}
.show {
    display: block;
}
.greenBox {
    background-color: green;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
.redBox {
    background-color: red;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}