.App {
  text-align: center;
  background-color: #383f47;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

  .font-12 {
    font-size: 12px;
  }

.header-div {
  min-height: 150px;
}
.header-group {
  margin-top: 20px;
}
.header-menu {
  color: rgba(243, 95, 120, 0.685);
  border: 1px solid #383f47;
  background-color: aqua;
  border-radius: 10px;
  margin: 30px 20px 10px 20px;
  text-decoration: none;
  padding: 10px 20px;
}